@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-primary: #fdf0d5;
  --color-accent: #780000;
  --color-accent-alt: #ff3c4a;
  --color-muted: #669bbc;

  --color-accent-10: rgba(120, 0, 0, 0.1);
  --color-accent-20: rgba(120, 0, 0, 0.2);
  --color-accent-30: rgba(120, 0, 0, 0.3);
  --color-accent-40: rgba(120, 0, 0, 0.4);

  --font-syne: "Syne", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@layer base {
  body {
    @apply bg-background text-primary font-mono overflow-x-hidden;
    cursor: none !important;
  }
  
  * {
    cursor: none !important;
  }
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px var(--color-primary);
    color: transparent;
  }
}
