@import "tailwindcss";

@theme {
  --color-background: #0D0D0D;
  --color-primary: #B7AB98;
  --color-accent: #EB5E28;
  --color-muted: #555555;

  --font-syne: "Syne", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@layer base {
  body {
    @apply bg-background text-primary font-mono cursor-none overflow-x-hidden;
  }
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px var(--color-primary);
    color: transparent;
  }
}